* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===============
 GENERAL
 =================*/
body, html {
  display: flex; /* or inline-flex */
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/* ===============
 CORPS DE PAGE
 =================*/
#page {
  display: flex; /* or inline-flex */
  flex-direction: row;
  width: 100%;
  height: 100%;
}
#page #content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
article {
  border: 1px solid lightcoral;
  max-width: 350px;
  overflow: hidden;
}
.toto-main{
  display: flex;
  flex: column;
  width: 100%;
  flex-wrap: wrap;
  background-color: lightcoral;
}
.toto-article{
  width: 250px;
  background-color: lightblue;
}
.toto-main,
.toto-article{
  border: .5px dashed;

}

[id*="post-"] {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* ===============
 FOOTER
 =================*/
#colophon {
  margin-left: 3em;
  bottom: 0px;
  height: 3em;
  line-height: 3em;
  width: 100%;
}

/* ===============
 NAVIGATION
 =================*/
#site-navigation {
  border: #bada55 2px dashed;
}